@import url(https://bg.allfont.net/allfont.css?fonts=a_avantelt-light);

:root {
	--logged-teacher-controls-clr: #4b4f5c;
	--logged-teacher-line-clr: #744263;
	--logged-teacher-text-clr: #6d4163;
	--upload-file-overlay-clr: rgba(18, 18, 18, 0.8);
	--modal-background-clr: #f5f5f5;
	--purple: #744263;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

body {
	background-color: #f5f5f5;
	letter-spacing: 1px;
}

*:not(i) {
	font-family: 'a_AvanteLt Light', arial;
}

.icons > *,
.icon {
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.icons > *:hover,
.icon:hover {
	transform: scale(1.1);
}

.purple-scrollbar {
	scrollbar-color: var(--purple) #bebcbd;
	scrollbar-width: thin;
}

.purple-scrollbar::-webkit-scrollbar {
	width: 5px;
	background: #bebcbd;
}

.purple-scrollbar::-webkit-scrollbar-thumb {
	background: var(--purple);
}

.gradient {
	background: linear-gradient(
		#f05454 0%,
		#6d4163 27%,
		#30475e 58%,
		#213140 100%
	);
}

.modal {
	background-color: var(--modal-background-clr);
	box-shadow: rgba(18, 18, 18, 0.85) 0 0 23% 30px;
}

.gradient-holder {
	position: relative;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 0 13vw;
}
.hero p {
	align-self: center;
	font-size: 2.2rem;
	flex: 1.7;
	letter-spacing: 1px;
	line-height: 2.5rem;
}

.hero .img-holder {
	flex: 2;
}

.container {
	width: 90%;
	margin: auto;
	max-width: 1200px;
	padding: 0.5rem 2rem;
}

.heading-xl {
	font-size: 3.5rem;
}
.heading-l {
	font-size: 2.5rem;
}
.heading-m {
	font-size: 2rem;
}
.heading-s {
	font-size: 1.5rem;
}

.slide-down-animation {
	animation: slide-down 0.7s ease-in forwards;
}

.slide-up-animation {
	animation: slide-up 0.7s ease-in forwards;
}

@keyframes slide-down {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}
